header.header 
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube <!--div 추가할 경우 그냥 이렇게 써도 알아들음-->
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In <!-- for join and login-->