//- basis for every pages, for commons attribute
//- making the layouts not to repeat works
doctype html
html
    head
        title Wetube
    body
        header
            h1 WeTube
        main
            block content
                //- block 부분에 화면의 내용들을 넣음.
        footer
            span &copy; WeTube