//- basis for every pages, for commons attribute
//- making the layouts not to repeat works
doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.0/css/all.css", integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q", crossorigin="anonymous")
        //-html방식말고 pug방식대로 적은 것 
        title  #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
                //- block 부분에 화면의 내용들을 넣음.
        include ../partials/footer